/*CSS Document*/

* {
    box-sizing: border-box;
}
.html {
    height: %
    position: relative;
}

.link {
    diplay: none;
}

.hero{
    height: 800px;
    width: 100%;
    margin: 20px;
    background-image: url (C:\Users\madel\Desktop\Classwork\feliciaspecs\castle in the clouds.jpg)
    background-size: cover;
    background-position: center;
    border-color: rgb(244,133,93);
}

.header {
    flex-direction: row;
    padding: 25px;
    background-color: rgb(255, 144, 103);
    color: navy;
}

.ul li {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.body {
    margin: 0;
    padding: 0;
    font-family: cursive, sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

.verticalLine {
    height: 100px;
    border-left: 1px black;
    position: absolute;
    right: 10%;
}

.p {
    font-size: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.list-links {
    display: flex;
    flex-direction: row;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5px;
    background-color: rgb(255, 144, 103);
    color: navy;;
}