* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    padding: 15px;
    background-color: rgb(70, 75, 75);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(57, 59, 59);
    color: #ffffff;
    height: 75px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("mahdi-bafande.jpg");
    background-size: cover;
    background-position: center;
}

#hero-text {
    text-align: center;
    text-shadow: 1px 1px 2px rgb(90, 157, 157);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(200, 203, 203);
}

#about-myself, #my-resume, #my-portfolio {
    margin-left: 22px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(57, 59, 59);;
    color: #ffffff;
    width: 75%;
    font-size: 24px;
    display: inline;
    float: right;
    text-align: start;
}

h1 {
    margin-bottom: 20px;
    font-size: 66px;
}

p {
    padding-top: 20px;
    font-size: 46px;
}

#my-portfolio p {
    font-size: 25px;
}

#vl {
    border-left: solid white;
    height: 400px;
    position: absolute;
    left: 20%;
    margin: 5px;
    top: 550px;
}


.img {
    max-width: 100%;
    height: 240px;
    margin-left: 30px;
    margin-bottom: 50%;
    padding-bottom: 40px;
    float: right;
}
/*

.benefits {
    margin-top: -63%;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(57, 59, 59);;
    color: #ffffff;
    text-align: center;
}

.benefit p {
    margin-bottom: 30px;
    text-align: start;
}

.benefit-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}