/*CSS Document*/

* {
    box-sizing: border-box;
}
.html {
    height: %
    position: relative;
}

.link {
    diplay: none;
}

.hero{
    height: 800px;
    width: 100%;
    margin: 20px;
    background-image: url (https://www.visitwhitemountains.com/listing/castle-in-the-clouds/204/)
    background-size: cover;
    background-position: center;
}

.header {
    flex-direction: row;
    padding: 25px;
    background-color: coral;
    color: navy;
}

.body {
    margin: 0;
    padding: 0;
    font-family: cursive, sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

.p {

}

.footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}